*.aux
*.log
*.lof
.DS_Store
docu/latex/Anhang/Anhang.aux
docu/latex/Anhang/literatur.aux
docu/latex/Legosar.aux
docu/latex/Legosar.lof
docu/latex/Legosar.log
docu/latex/Legosar.lol
docu/latex/Legosar.lot
docu/latex/Legosar.out
docu/latex/Legosar.synctex.gz
docu/latex/Legosar.tex
docu/latex/Legosar.toc
*.gz
*.log
*.synctex(busy)
*.bbl
*.blg
*.synctex

# Ignore the build stuff
/Gesamtintegration/Brick_*/*.sh
/Gesamtintegration/Brick_*/*.rxe
/Gesamtintegration/Brick_*/*.bin
/Gesamtintegration/Brick_*/*.map
/Gesamtintegration/Brick_*/*.elf
/Gesamtintegration/Brick_*/implementation.oil
/Gesamtintegration/Brick_*/kernel_cfg.c
/Gesamtintegration/Brick_*/kernel_id.h
/Gesamtintegration/Brick_*/build
/Gesamtintegration/Brick_*/BSW

